html, body, #root {
  height: 100%;
  width: 100%;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
}
.cell {
  all: unset;
  height: 50px;
  width: 50px;
  display: flex!important;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border: 1px solid gray;
  cursor: pointer;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.center-h-v {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ml-10 {
  margin-left: 10px;
}
.winner-cell {
  animation-name: winning-animation;
  animation-duration: 0.3s;
  background-color: lightgray;
  animation-iteration-count: 6;
}

@keyframes winning-animation {
  0% { background-color: lightgray;}
  100% { background-color: goldenrod;}
}
